body {
    background-color: #2d3748;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
    z-index: 1000; /* set the z-index to be higher than any other element on the page */
    display: none; /* hide the overlay by default */
}

table {
    border-collapse: collapse;
    width: 70%;
    align-items: center;
}
th, td {
    text-align: center;
    padding: 4px;
}
th {
    background-color: #d0d0d0;
    color: #333;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #ddd;
}

.container {
    border-radius: 10px;
    background-color: #ffffff;
    width: 1000px;
    height: 700px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#power {
    border-radius: 10px;
    background-color: #ffffff;
    width: 55%;
    box-shadow: 0 0 10px rgb(58, 128, 252);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

#zone {
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;
    box-shadow: 0 0 10px rgb(58, 128, 252);
}

.container h2 {
    display: inline-block;
    font-size: 24px;
    margin-bottom: 20px;
}

.container h3 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(164, 164, 164, 0.65);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    display: inline-block;
    margin-right: 10px;
}

form input {
    display: block;
    margin: 0 auto;
}

buttons-container {
    display: flex;
    justify-content: center;
}

.summary-box {
    background-color: #ffffff;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(58, 128, 252);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
}

.summary-box h2 {
    margin: 0;
    font-size: 24px;
    text-align: center;
}


